body {
  background-color: #fffbf0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}



.distill-site-header .title {
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
  font-style: italic;
  font-weight: 800;
}

.posts-list .posts-list-caption {
    color: #325c59;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.fa-github-alt:before {
    content: "\f113";
}

ul > li::marker {
  font-size: 1.125em;
  color: #325c59;
}

/* Change link appearance */
d-article a {
  border-bottom: 1px solid #e98074;
  text-decoration: none;
}


.table{
  margin-left: auto;
  margin-right: auto;
}

.algolia-autocomplete {
    display: inline-block;
    margin-left: 10px;
    vertical-align: sub;
    background-color: white;
    color: black;
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 0;
    border-radius: 6px;
    border: 1px #325c59 solid;
    width: 180px;
}

.byron {
  width: 400px;
}

.byron img {
  display: block;
  width: 100%;
  height: auto;
}
    
.dataTable caption {
    display: table-caption;
    text-align: -webkit-center;
    font-size: 16px;
    font-weight: bold;
}    
    
.distill-site-footer {
    font-size: var(--text-size, 8px);
    color: #fffbf0;
    background-color: #325c59;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
  
.l-body-outset {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


h1, h2, h3, h4, h5, h6, .posts-list .post-preview h2, .posts-list .description h2 {
    font-family: 'Fira Mono', monospace;
}